{% extends '_partials/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<!--Inner Header Start-->
<section class="wf100 p100 inner-header" style="margin-bottom: 50px">
  <div class="container">
     <h1>Dashboard</h1>
     <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
     </ul>
  </div>
</section>
<!--Inner Header End-->
<div class="container">
{% comment %} <h3>Kontrol Paneli</h3> {% endcomment %}
<div class="section-title-2" style="margin-bottom: 50px">
  <h5>Mes Posts</h5>
  <h2>Panel de Contrôle</h2>
</div>

{% comment %} <p>
    Bienvenue, <small>{{request.user.username}}</small>
</p> {% endcomment %}

<div class="section-title-2" style="margin-bottom: 30px">
  <h5>Bienvenue &nbsp;&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;&nbsp;{{request.user.username}}</h5>
</div>

{% comment %} <a class = "btn btn-danger" href = "{% url 'addarticle' %}">Ajouter un Post </a>
<hr> {% endcomment %}
{% if articles %}
<table class="table" style="margin-bottom: 50px">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Titre</th>
            <th scope="col">Auteur</th>
            <th scope="col">Date</th>
            <th scope="col">Mise à jour</th>
            <th scope="col">Supprimer</th>
          </tr>
        </thead>
        <tbody>
          {% for article in articles %}
          <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'detail' article.slug %}">{{article.title}}</a></td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>
            <td><a href="{% url 'update' article.slug %}" class = "btn btn-warning">Mise à jour</a></td>
            <td><a href="{% url 'delete' article.slug %}" class = "btn btn-danger">Supprimer</a> </td>
              
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
    </div>
{% else %}

<div class = "alert alert-danger">
    Vous n'avez pas encore de Posts...

</div>
{% endif %}


{% endblock content %}

