{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block title %}
            <title> AgroFace </title>
        {% endblock title %}

		{% block meta %}
			<meta charset="UTF-8">
			{% comment %} <meta name="viewport" content="width=device-width, initial-scale=1"> {% endcomment %}
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock meta %}


        {% block styles %}
			<link rel="icon" href="{% static 'images/favicon.png' %}">
            <link href="{% static 'css/custom.css' %}" rel="stylesheet">
            <link href="{% static 'css/color.css' %}" rel="stylesheet">
            <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
            <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
            <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/slick.css' %}" rel="stylesheet">
		{% endblock styles %}

		{% block stylepage %}
         <style>
            .footer-widget ul li a{
               font-size: 15px;
            }
         </style>
		{% endblock stylepage %}

	</head>

	<body>
		
		{% block nav %}
			{% include '_partials/navbar.html' %}
		{% endblock nav %}

		{% block content %}
			
      {% endblock content %}

		{% block footer %}
			
            <footer class="footer">
                <div class="footer-top wf100">
                   <div class="container">
                      <div class="row">
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget">
                               <h4>About AgroFace</h4>
                               <p> AGROFACE is an innovative agriculture value chain platform that connects 
                                 farmers and agribusinesses to markets, finance, and other value chain 
                                 actors. The platform aims to enhance the competitiveness of small-scale 
                                 farmers in Africa by providing access to improved inputs, technologies, 
                                 and best practices to increase productivity and income.</p>
                            </div>
                         </div>
                         <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="footer-widget">
                               <h4>Our Promises</h4>
                               <ul class="quick-links" style="line-height: 1px">
                                  <li><a style="font-size: 14px; line-height: 1px" href="#">Property owner</a></li>
                                  <li><a style="font-size: 14px;" href="#">Distributors and productors of agricultural equipments</a></li>
                                  <li><a style="font-size: 14px;" href="#">Distributors and seeds of maintenance products</a></li>
                                  <li><a style="font-size: 14px;" href="#">Consultant and agricultural engineers</a></li>
                                  <li><a style="font-size: 14px;" href="#">Agricultural workers and technicians</a></li>
                                  <li><a style="font-size: 14px;" href="#">Agropastoral manufacturer</a></li>
                                  <li><a style="font-size: 14px;" href="#">Distributors of agricultural and agropastoral products</a></li>
                               </ul>
                            </div>
                         </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="footer-widget">
                               <div id="fpro-slider" class="owl-carousel owl-thme">
                                  <div class="item">
                                     <div class="f-product">
                                        <img src="{% static 'images/h-logo.png' %}" style="height: 230px" alt="">
                                        <div class="fp-text">
                                        </div>
                                     </div>
                                  </div>
                                  <div class="item">
                                     <div class="f-product">
                                        <img src="{% static 'images/mt-logo.png' %}" style="height: 230px" alt="">
                                        <div class="fp-text">
                                        </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6">
                           <div class="footer-widget">
                              <h4>Contact</h4>
                              <ul class="lastest-products">
                                 <li>  <span style="color: #fff" class=""> (+237) 696-840-802</span> </li>
                                 <li> <span style="color: #fff" class="">(+237) 695-926-553</span> </li>
                              </ul>
                           </div>
                       </div>
                     </div>
                  </div>
               </div>
             </footer>
		{% endblock footer %}

		{% block scripts %}
			<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
            <script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script> 
            <script src="{% static 'js/popper.min.js' %}"></script> 
            <script src="{% static 'js/bootstrap.min.js' %}"></script> 
            <script src="{% static 'js/owl.carousel.min.js' %}"></script> 
            <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script> 
            <script src="{% static 'js/isotope.min.js' %}"></script> 
            <script src="{% static 'js/custom.js' %}"></script>

		{% endblock scripts %}

	</body>
</html> 









