{% load static %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block title %}
            <title> GG </title>
        {% endblock title %}

		{% block meta %}
			<meta charset="UTF-8">
			<!-- mobile responsive meta -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% endblock meta %}


        {% block styles %}
			<!-- ** Plugins Needed for the Project ** -->
			<!-- Bootstrap -->
			<link rel="icon" href="{% static 'images/favicon.png' %}">
           
            <!-- CSS FILES START -->
            <link href="{% static 'css/custom.css' %}" rel="stylesheet">
            <link href="{% static 'css/color.css' %}" rel="stylesheet">
            <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
            <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
            <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/slick.css' %}" rel="stylesheet">
		{% endblock styles %}

		{% block stylepage %}

		{% endblock stylepage %}

	</head>

	<body>
		
		{% block nav %}
			{% include '_partials/navbar.html' %}
		{% endblock nav %}

		{% block content %}
			
        {% endblock content %}

		{% block footer %}
			
			<!-- footer -->
			<!--Footer Start-->
            <footer class="footer">
                <div class="footer-top wf100">
                   <div class="container">
                      <div class="row">
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <!--Footer Widget Start-->
                            <div class="footer-widget">
                               <h4>About Ecova</h4>
                               <p> If anything’s hot in today’s economy, it’s saving money, including a broad range of green businesses helping people save energy, water, and other resources. Definitely, you can go with this business as it is a nothing but the future. </p>
                               {% comment %} <a href="#" class="lm">About us</a>  {% endcomment %}
                            </div>
                            <!--Footer Widget End--> 
                         </div>
                         <div class="col-lg-3 col-md-6 col-sm-6">
                            <!--Footer Widget Start-->
                            <div class="footer-widget">
                               <h4>Our Promises</h4>
                               <ul class="quick-links">
                                  <li><a href="#">Solar Energy</a></li>
                                  <li><a href="#">Waste Management</a></li>
                                  <li><a href="#">Eco Ideas</a></li>
                                  <li><a href="#">Recycling Materials</a></li>
                                  <li><a href="#">Plant Ecology</a></li>
                                  <li><a href="#">Saving Wildlife </a></li>
                               </ul>
                            </div>
                            <!--Footer Widget End--> 
                         </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <!--Footer Widget Start-->
                            <div class="footer-widget">
                               <div id="fpro-slider" class="owl-carousel owl-thme">
                                  <!--Footer Product Start-->
                                  <div class="item">
                                     <div class="f-product">
                                        <img src="{% static 'images/h-logo.png' %}" style="height: 230px" alt="">
                                        <div class="fp-text">
                                           {% comment %} <h6><a href="#">Buy T-Shirts</a></h6>
                                           <strong>$19.00</strong>  {% endcomment %}
                                        </div>
                                     </div>
                                  </div>
                                  <!--Footer Product End--> 
                                  <!--Footer Product Start-->
                                  <div class="item">
                                     <div class="f-product">
                                        <img src="{% static 'images/h-logo.png' %}" style="height: 230px" alt="">
                                        <div class="fp-text">
                                           {% comment %} <h6><a href="#">Buy T-Shirts</a></h6>
                                           <strong>$19.00</strong>  {% endcomment %}
                                        </div>
                                     </div>
                                  </div>
                                  <!--Footer Product End--> 
                                  <!--Footer Product Start-->
                                  <div class="item">
                                     <div class="f-product">
                                        <img src="{% static 'images/h-logo.png' %}" style="height: 230px" alt="">
                                        <div class="fp-text">
                                           {% comment %} <h6><a href="#">Buy T-Shirts</a></h6>
                                           <strong>$19.00</strong>  {% endcomment %}
                                        </div>
                                     </div>
                                  </div>
                                  <!--Footer Product End--> 
                               </div>
                            </div>
                            <!--Footer Widget End--> 
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                           <!--Footer Widget Start-->
                           <div class="footer-widget">
                              <h4>Contact</h4>
                              <ul class="lastest-products">
                                 <li> <img src="images/flp1.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i>Posted:</i> 29 September, 2018</span> </li>
                                 <li> <img src="images/flp2.jpg" alt=""> <strong><a href="#">Eliminate your plastic bottle pollution & keep...</a></strong> <span class="pdate"><i>Posted:</i> 29 September, 2018</span> </li>
                                 <li> <img src="images/flp3.jpg" alt=""> <strong><a href="#">How you can keep alive wild animals for...</a></strong> <span class="pdate"><i>Posted:</i> 29 September, 2018</span> </li>
                              </ul>
                           </div>
                           <!--Footer Widget End--> 
                       </div>
                     </div>
                  </div>
               </div>
                {% comment %} <div class="footer-copyr wf100">
                   <div class="container">
                      <div class="row">
                         <div class="col-md-4 col-sm-4"> <img src="images/logo.png" alt=""> </div>
                         <div class="col-md-8 col-sm-8">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                         </div>
                      </div>
                   </div>
                </div> {% endcomment %}
             </footer>
             <!--Footer End--> 
			<!-- /footer -->
		{% endblock footer %}

		{% block scripts %}
			<!-- jQuery -->
			<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script> 
            <script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script> 
            <script src="{% static 'js/popper.min.js' %}"></script> 
            <script src="{% static 'js/bootstrap.min.js"></script> 
            <script src="{% static 'js/owl.carousel.min.js' %}"></script> 
            <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script> 
            <script src="{% static 'js/isotope.min.js' %}"></script> 
            <script src="{% static 'js/custom.js' %}"></script>

		{% endblock scripts %}

	</body>
</html>
