{% load static %}



<!--Header Start-->
<header class="header-style-2">
   <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/h-logo.png' %}" style="width:60px" alt=""></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="fas fa-bars"></i> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            {% comment %} {% if user.is_authenticated %}
               
               <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}"> Dashboard </a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'addarticle' %}"> Add Post </a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'articles' %}"> Posts </a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}"> Profile </a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'all_profile' %}"> All Profile </a></li>
               <li class="nav-item"><a class="nav-link" href="{% url 'user_logout' %}"> Logout </a></li>
               {% else %} {% endcomment %}
               <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"> Home </a></li>
               <li class="nav-item"> <a class="nav-link" href="{% url 'about' %}">About</a> </li>
               {% comment %} <li class="nav-item"><a class="nav-link" href="contact.html"> Contact </a></li> {% endcomment %}
               <li class="nav-item"><a class="nav-link" href="{% url 'user_login' %}"> Login </a></li>
            {% comment %} {% endif %} {% endcomment %}
         </ul>
      </div>
   </nav>
</header>