{% extends '_partials/base1.html' %}

{% load crispy_forms_tags %} 

{% block content %}
<nav class="navbar navbar-main navbar-expand-lg shadow-none px-0 mx-4 " id="navbarBlur" navbar-scroll="true">
  <div class="container-fluid py-1 px-3">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
        <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
        <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Update Profile(s)</li>
      </ol>
      <h6 class="font-weight-bolder mb-0">Update Profile(s)</h6>
    </nav>
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
      <div class="ms-md-auto pe-md-3 d-flex align-items-center">
        
      </div>
      <ul class="navbar-nav  justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-outline-success btn-sm mb-0 me-3" href="">{{request.user.username}}</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          {% comment %} <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">Sign In</span>
          </a> {% endcomment %}
          <img src="{{user.profile.profile_image.url}}" style="border: 1px solid white; border-radius: 10px; width: 35px; height: 35px" class="mr-3">
       </li>
        {% comment %} <li class="nav-item d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body font-weight-bold px-0">
            <i class="fa fa-user me-sm-1"></i>
            <span class="d-sm-inline d-none">Sign In</span>
          </a>
        </li> {% endcomment %}
        <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
          <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
 </nav>
 <hr class="horizontal dark mt-0">



    <!-- Begin Page Content -->
    <div class="container-fluid mt-4 mb-4">
      <div class="col-md-9 mx-auto">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{user_form | crispy}}
          {{profile_form | crispy}}
          <button type="submit" class="btn btn-success btn-block">Update</button>
          <button class="btn btn-info btn-block">
            <a class="" href="{% url 'profile' %}" style="color: #ffffff">Back</a>
          </button>
        </form>
      </div>
    </div>
        
        
        
    </div>
    <!-- /.container-fluid -->
{% endblock content %}